body {
  /* margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
/* display:flex;
flex-direction:column; */
max-width: 100%;
margin:0px;
font-family:Arial;
font-size:30px;
background-color: rgb(207, 137, 31);
/* input[type=submit]{
  background-color:#42ddf5;
  color: white;
  height:40px;
  font-family:Arial;
  font-size:30px;
  margin-top:10px;
  margin-bottom:10px;
} */
}

nav {
  /* display: inline-block;
  margin: 20px;
  margin-right: 0px;
  margin-left: 0px;
  background-color: rgb(118, 80, 80);
  width: 100%; */
  display: flex;
  flex-direction: row;
  width: 100%;
  /* margin: 1rem 2rem; */
  text-decoration: none;
  font-size: 1.2em;
  color: firebrick;
  border-bottom: 2px solid firebrick;
  transition: 0.1s;
  background-color: rgb(215, 184, 161);
  

}
.nav-links {
  font-size: large;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin: 20px 20px;
}

.nav-home {
  margin-bottom: 15px;
}

.add-coffee-button {
  margin-top: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  background-color: rgb(52, 97, 70);
}

/* .coffee-card  */

.coffee-card {
margin: 15px 15px;
padding: 15px 15px;
box-shadow: 0 4px 8px 0 rgba(171, 33, 33, 0.2);
transition: 0.3s;
border: solid grey;
border-radius: 15px;
size: 50rem;
background-color: rgba(208, 94, 94, 0.772);
}

.coffee-card:hover {
  
    box-shadow: 0 8px 16px 0 rgba(114, 6, 6, 0.376);
  }

.card-contents {
  max-width: fit-content;
}

  .coffee-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
  }
  .coffee-detail {
    border: solid black;
    background-color: darkolivegreen;
    max-width: 50%;
    padding: 5px;
    border-radius: 1rem;
    margin-left: 15px;
  }
  .coffee-detail-title {
    margin: 18 auto;
    margin-left: 20px ;
  }
  .edit-delete-buttons {
    margin-left: 50px;
  }
/* review form */
.review-form{
  margin-left:25px;
  padding: 10px;
  margin-bottom: 25px;
}
.review-submit {
  margin-top: 10px;
  padding-top: 2px;
  padding-bottom: 2px;;
  background-color: rgb(52, 97, 70);
  border-radius: 1rem;
  font-size: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  max-width: min-content;
  opacity: 90%;
}
.review-submit:hover {
  box-shadow: 0 8px 16px 0 rgba(114, 6, 6, 0.376);
}

  /* comment section */
  .comment-box {
    margin-left: 25px;
    padding: 4px 10px;
    margin-bottom: 15px;
    font-size: 20px;
    background-color: white;
    max-width: 50%;
    border: black;
    border-radius: 5%;
    justify-content: center;
  
  }
  .comment-box:hover {
  
    box-shadow: 0 8px 16px 0 rgba(114, 6, 6, 0.376);
  }
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

form {
display:flex;
flex-direction:column;
width: 400px;
margin:auto;
font-family:Arial;
font-size:30px;
}

input[type=submit]{
  background-color:#42ddf5;
  color: white;
  height:40px;
  font-family:Arial;
  font-size:30px;
  margin-top:10px;
  margin-bottom:10px;
}